<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="hackideas_form" #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
        <div class="hackideas_form__field">
          <input type="number" name="loginEmpId" class="hackideas_form__input" id="loginEmpId" [(ngModel)]="loginEmpId" placeholder="Login Employee ID" required />
        </div>
        <button class="button hackideas_form__submit">
          <span class="button__text">Log In Now</span>
        </button>       
      </form>
    </div> 
  </div>
</div>